
.gallery_container{
    display: block;
}

.image_gallery{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; /*nowrap*/
    justify-content: flex-start;
    align-items: center;
    width: 70vw;
    margin-bottom: 5%;
}

.image_text{
    display: inline-block;
    width: 30%;
    overflow-wrap: break-word;
    margin:10px; 
    padding: 5px;
    order: 2;
    flex-grow: 1;
    flex-shrink: 0;
}

.image_class_1{
    display: inline-block;
    width: 60%;
    margin:10px; 
    border-radius: 15px;
    order: 1;
    flex-shrink: 0;
    flex-grow: 1;
    filter: sepia(0%)
        drop-shadow(8px 8px 10px gray)
        brightness(100%)
        saturate(70%);
}
.image_class_2{
    display: inline-block;
    width: 60%;
    margin:10px; 
    border-radius: 15px;
    order: 3;
    flex-shrink: 0;
    flex-grow: 1;
    filter: sepia(0%)
        drop-shadow(8px 8px 10px gray)
        brightness(100%)
        saturate(70%);
}